<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<table border="2" style="width:300px">

    <div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
        <a th:href="@{/cars?locale=en}">English</a>
        &nbsp;|&nbsp;
        <a th:href="@{/cars?locale=ru}">Русский</a>
    </div>

    <tr>
        <td><strong th:utext="#{table.head}"></strong></td>
    </tr>
    <tr th:each="cars : ${cars}">
        <td th:text="${cars}"></td>
    </tr>
</table>

</body>
</html>